.bottomSheet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  max-height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
}
