.pageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;
}

.pageWrapper.entering {
  animation: slideInFromRight var(--animation-duration) ease;
}

.pageWrapper.exiting {
  animation: slideOutToRight var(--animation-duration) ease;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
