/* ===================== PageWrapper Animation ===================== */
.rsp-root:has(~ .rsp-page),
.rsp-stack:has(~ .rsp-page) {
    transform: translate(-30vw);
}

.rsp-root:has(~ .rsp-page.rsp-exiting),
.rsp-stack:has(~ .rsp-page.rsp-exiting) {
    transform: translate(0vw);
}
/* 下面是性能优化 */

.rsp-root:has(~ .rsp-page:not(.rsp-exiting):not(.rsp-entering)),
.rsp-stack:has(~ .rsp-page:not(.rsp-exiting):not(.rsp-entering)) {
    content-visibility: hidden;
}

/* ===================== SheetWrapper Animation ===================== */

/* body:has(.rsp-sheet-full.rsp-exiting) {
    transition: all .3s;
    border-radius: 0;
}

.rsp-root:has(~ .rsp-sheet-full) {
    border-radius: 16px;
    overflow: hidden;
    transform: scale(0.95) translateY(10px);
} */
/* 上面属于demo定制代码，目的是为了让 sheet 对根页面生效 */

.rsp-sheet-full:has(~ .rsp-sheet-full:not(.rsp-exiting)) .rsp-sheet-track  {
    transform: scale(0.95) translateY(-40px) !important; /* 主要为了覆盖pan效果 */
}

.rsp-sheet-full:has(~ .rsp-sheet-full ~ .rsp-sheet-full:not(.rsp-exiting)) .rsp-sheet-track {
    transform: scale(0.92) translateY(-60px) !important; /* 主要为了覆盖pan效果 */
}